
/* Style global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8; /* couleur de fond claire */
    color: #333; /* couleur du texte */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
h1{
    text-align: center;
    color: white;
    font-family: verdana,sans-serif;
    background-color: #3498db;
    font-size: 40px;
    border: 0px ;
    margin: 0;
    padding: 50px;   

}
.blog-post {
    background-color: #fff; /* fond blanc pour chaque article */
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px; /* bords arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ombre subtile */
}
.post-title {
    text-align: center; /* titre centré */
    font-size: 2em;
    font-weight: bold;
    color: #2c3e50; /* couleur gris foncé */
    text-transform: capitalize; /* transforme la première lettre de chaque mot en majuscule */
}


.post-author ,
.post-date {
    font-style: italic; /* texte en italique */
    font-size: 0.9em;
    color: #7f8c8d; /* couleur gris clair */
    text-align: left;
}

.post-content {
    text-align: justify; /* justifie le texte */
    font-size: 1.1em;
    color: #2c3e50; /* couleur gris foncé */
}

/* Espacement des lettres et des mots */
.post-title, .post-author {
    letter-spacing: 1px; /* espacement des lettres */
}

.post-content {
    word-spacing: 4px; /* espacement des mots */
}

/* Décoration du texte */
.underline {
    text-decoration: underline; /* texte souligné */
}

.line-through {
    text-decoration: line-through; /* texte barré */
}
.lign{
    font-weight: bold;
}
footer{
    text-align: center;
    color:white ;
    font-family: verdana,sans-serif;
    background-color: #3498db;
    font-size: 20px;
    border: 0px ;
    margin: 0;
    padding: 20px;   
}
.blog2{
    background-color: whitesmoke;
    margin: 20px;
    padding: 20px;
    border: 2px ;
    border-radius: 10px;
}
.blog2 h2{
    text-align: center;
    color: black;
    font-family: verdana,sans-serif;
    padding: 20px;
    font-size: 35px;
}
.blog2 .par1{
    
    color: black;
    font-family: verdana,sans-serif;
    font-size: 16px;
    float: italic;
}
.blog2 p{
    color: black;
    font-family: verdana,sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 1.6;
}
    